env/
# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python environment files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.h5
*.pt
*.pth
env/
venv/

# Ignore logs and temporary files
logs/
*.log
nohup.out

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
checkpoints/

# Ignore model files 
distilbert_fake_news/
roberta_fake_news/
roberta_results/
distilbert_results/

# Ignore results and outputs
results/
results_fold1/
results_fold2/
results_fold3/
results_fold4/
results_fold5/

# Exclude large model files
distilbert_fake_news/model.safetensors
# Ignore model artifacts (if using Git LFS)
distilbert_fake_news/*.safetensors

# Exclude large PyTorch libraries
FP_App/env/lib/python3.9/site-packages/torch/lib/libtorch_cpu.dylib

*.out
*.err

# Ignore environment and dependencies
FP_App/env/

# Ignore data folders
data/
cleaned_data/
g_data/
*.csv
*.jsonl